body {
background-color: bisque;
}

.name{
  text-align: center;
}

.column {
  text-align: center;
}

.frame {
  width: auto;
  height: 550px;
  float: left;
  border: 10px blueviolet;
  border-style: outset;
}

img {
  max-height: 550px;
}

.textpad {
  text-align: center;
}

.mybackground {
  font-style: italic;
  width: 400px;
}

.important {
  color: rgb(196, 9, 65);
  font-weight: bolder;
}

.img2 {
  float: right;
  margin: 10px;
}