body {
background-color: bisque;
}

.name{
  text-align: center;
}

.frame {
  width: auto;
  height: 450px;
  float: left;
  border: 10px blueviolet;
  border-style: outset;
}

.column {
  float: left;
  width: 400 px;
}
img {
  max-height: 450px;
}

.textpad {
  float: left;
  padding: 10px;
}