body {
background-color: bisque;
}

.name{
  text-align: center;
}

.frame {
  width: auto;
  height: 550px;
  float: left;
  border: 10px blueviolet;
  border-style: outset;
}

.column {
  float: left;
  width: 400px;
}
img {
  max-height: 550px;
}

.textpad {
  float: left;
  padding: 10px;
}

.mybackground {
  font-style: italic;
  width: 200px;
  padding: 10px;
}